OMNIHUB_BASE_URL=http://127.0.0.1:5173
SBBL_BASE_URL=http://127.0.0.1:8787
OMNIHUB_WS_URL=ws://127.0.0.1:5173/ws/telemetry
SBBL_SUPABASE_URL=
SBBL_SUPABASE_ANON_KEY=
SBBL_SUPABASE_SERVICE_KEY=
OMNIHUB_SUPABASE_URL=
OMNIHUB_SUPABASE_ANON_KEY=
INTEGRATION_ADMIN_EMAIL=
INTEGRATION_ADMIN_PASSWORD=
INTEGRATION_FAN_EMAIL=
INTEGRATION_FAN_PASSWORD=
INTEGRATION_PPV_ACCESS_CODE=
INTEGRATION_PPV_GAME_ID=
OMNIHUB_REPO=../APEX-OmniHub
SBBL_REPO=../sbbl-hq
